@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.25rem;
}

body{
    background-color: hwb(203 13% 4%)
}

section{
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #FAFAFA;
    padding: 3.1rem 1.7rem 1.7rem 1.7rem;
    margin-top: -25.25rem;
    width: 95%;
    max-width: 30.5rem;
    min-height: 25.25rem;
    border-radius: 10px;
    color: #464655;
    position: relative;
    overflow: hidden;
}

.container .scoreBoard{
    position: absolute;
    top: 20px;
    right: 20px;
}

form h2{
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

form .option{
    font-size: 1.4rem;
    margin: 5px 0 0 5px;
    padding: 10px;
    transition: .3s ease background-color;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

form .option label{
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    justify-self: stretch;
}

form .option:hover{
    background-color: #E6E6E6;
}

form .option input[type="radio"]:checked + label{
    color: #FF7721;

}
form button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.3rem;
    font-family: 'Didact Gothic', sans-serif;
    background-color: #E6E6E6;
    border: none;
    color: #464655;
    cursor: pointer;
    transition: .3s ease background-color;
}

button:hover{
    background-color: #cccccc;
}
