@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.25rem;
}

body{
    background-color: #6BBAEC;
}

section{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #F9F9ED;
    padding: 3.2rem 1.8rem 1.8rem 1.8rem;
    margin-top: -25.25rem;
    width: 95%;
    max-width: 600px;
}

