@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.25rem;
}

body{
    background-color: #6BBAEC;
}

section{
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #F9F9ED;
    padding: 3.1rem 1.7rem 1.7rem 1.7rem;
    margin-top: -25.25rem;
    width: 95%;
    max-width: 30.5rem;
    min-height: 25.25rem;
    border-radius: 10px;
    color: #464655;
    position: relative;
    overflow: hidden;
}

.container .scoreBoard{
    

}

